@import url('https://fonts.googleapis.com/css?family=Courgette|Inconsolata&display=swap');


#root, html, body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  height:100vh;
}


.toast{
  color:black;
  
}


.App {
  text-align: center;
  height:100vh;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./Images/pexels-photo-220444.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.head-text {
  color:whitesmoke;
  text-shadow: 0 0 3px black;
  font-family: 'Courgette', cursive;
  letter-spacing: 0.3mm;
}


.card {
  width: 40%;
  height:40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e4f9f5;
  padding:20px;
  box-shadow: 5px 5px 5px #e3fdfd;
  border-radius: 25px;
}

.heading {
  display: flex;
  align-items: center;
  height: 582px;
  font-family: 'Inconsolata', monospace;  text-shadow: 0 0 5px white;
}


.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 180px;
  width: 200px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}
  
.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
.footer {
  color:white;
  font-size: 20px;
  opacity: 0.5;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 60%;
  }
  
.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 130px;
  width: 160px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}
}